<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>controlador.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionesAdministrador</servlet-name>
        <servlet-class>controlador.FuncionesAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listas</servlet-name>
        <servlet-class>controlador.Listas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarInformacion</servlet-name>
        <servlet-class>controlador.MostrarInformacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionesAdministrador</servlet-name>
        <url-pattern>/FuncionesAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listas</servlet-name>
        <url-pattern>/Listas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarInformacion</servlet-name>
        <url-pattern>/MostrarInformacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
